/* ----------- TEXT -----------*/

/* body text size */
body, p {
  font-size: 25px;
}

/* define bold font */
b, strong {
    font-weight: bold !important;
}

a {
  color: #A2CD5A;
}


/* ----------- TEXT BOXES/ CONTENT FORMATTING -----------*/


/* ----------- home and team page -----------*/

/* custom text box */
.custom-box {
  background-color: #f0f1f2;
  color: #212529;
  padding: 15px;
  border-radius: 4px;
  width: 95% !important;
  margin: 0 auto;
}


/* side-by-side content for wide screens */
.transect-layout {
  align-items: center;
  gap: 3rem;
}

.left-panel {
  flex: 0 0 39%;
  justify-content: center;
}

.right-panel {
  flex: 0 0 70%;
  justify-content: center;
}


/* stacked content for small screens/phones */
@media screen and (max-width: 952px) {

  .transect-layout {
    display: flex;
    flex-direction: column !important;
  }

  .left-panel,
  .right-panel {
    flex: 0 0 100% !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  .custom-box {
    width: 100% !important;
    box-sizing: border-box;
  }
}


/* ----------- data synthesis page -----------*/

/* side-by-side content for wide screens */
.image-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}


.image-row img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center 40%;
  border-radius: 10px;
}


/* stacked content for small screens/phones */
@media screen and (max-width: 952px) {
  .image-row {
    flex-direction: column;
    align-items: center;
  }

  .image-row img {
    width: 200px;   /* optional: keep consistent size */
    max-width: 90%;
    height: auto;
  }
}