.quarto-container {
  max-width: 100% !important;
  width: 100% !important;
}

.content {
  max-width: 100% !important;
}


.fade-in {
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}