body, p {
  font-size: 20px;
}

b, strong {
    font-weight: bold !important;
}

.quarto-container {
  max-width: 100% !important;
  width: 100% !important;
}

.content {
  max-width: 100% !important;
}

main {
  max-width: 100% !important;
}


.fade-in {
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }
  
  /* Prevent code blocks or pre tags from stretching the page */
  pre {
    overflow-x: auto;
    max-width: 100%;
  }
}

.custom-box {
  background-color: #f0f1f2;
  color: #212529;
  padding: 15px;
  border-radius: 4px;
  width: 95% !important;
  margin: 0 auto;
}


.transect-layout {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.left-panel {
  flex: 0 0 45%;
}

.right-panel {
  flex: 0 0 55%;
}

.custom-box {
  background-color: #f0f1f2;
  color: #212529;
  padding: 20px;
  border-radius: 6px;
}

@media (max-width: 768px) {

  .transect-layout {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }

  .custom-box {
    width: 100%;
    box-sizing: border-box;
  }
}

img[src*="OTS.png"] {
  max-width: 250px;
  width: 60%;
  height: auto;
}